* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: #717171;
    
}

body{
    /* background-color: #F5EFEB; */
    background-color: F5F5F5;
    padding-top: 8%;
    padding-top: 8%;
}

.slideshow{
    margin: 0 auto;
    height: 50%;
    margin-bottom: 3%;
    margin-top: 1.5%;
    width: 93%;  
}

.slideshow .carousel-inner img {
    margin: 0 auto;
    background-color: rgb(42, 42, 41);
    width: 100%;
    height: 550px;
    object-fit: cover
}



.content .cart {
    width: 25%;
    /* justify-content: space-between; */
    /* justify-content: space-between; */
    transition: transform 0.3s ease;

}

.content .cart .card img {
    height: 35vh;
    width: 100%;
    background-color: blue;
    object-fit: cover;
}

.content .cart .card .card-body .card-title,
.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 50px;
}

.content .cart:hover {
    transform: scale(1.1);
}

.cart .card-price button i {
    margin-top: 16px;
    color: rgb(125, 125, 125);
}

.cart .card-price button i:hover {
    color: rgb(230, 5, 5);
}

