body{
    background-color: #edf1f5;
}
.card-body {
    height: 100vh;
    /* margin-top:60px; */
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
    padding: 10px;
    
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}

.card ul li{
    float: right;
}

.card ul li a{
    font-size: 25px;
}

.img{
    width: 90%;
    height: 55vh;
}
.img img{
    width: 100%;
    object-fit:cover;
}

.number .btn{
    color: white;
    background-color: #8baa74;
    /* margin-right: 20px; */
    font-size: 17px;
    font-weight: 500;
    align-items: center;
    border: none;
    border-radius: 50%;
    height: 100%;
    width: 5%;
    
}
.number h1{
    width: 8%;
    text-align: center;
    font-size: 30px;
    justify-content: center;

}
.number .cart{
    margin-left: 20px;
    border-radius: 50px;
    width: 25%;
}
.number .cart i{
    color: white;
}

#product-details{
    padding-top: 120px;
}